<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- <link rel="stylesheet" href="public/stylesheets/style.css"> -->
    <title>Spotify Search</title>
  </head>
  <body>
    <%- body -%>
  </body>
</html>
