<h1> new Artist </h1>
<form action="/artists" method="POST">
  <label for="artist">Artist</label>
  <input id="artist" type="text" name="artist">

  <button type="submit">
    Search new Artist
  </button>
</form>
