<h1>Artists</h1>

<% artists.forEach((artist,index) => {
	var artistName = artist.name;
	var artistImage = "";
	if(artist.images.length > 0) {
		artistImage = artist.images[0].url;
	}
	%>
	<p><%=artistName%></p>
	<img src=<%=artistImage%> alt="">
<%})%>
